<div [ngClass]="setClasses()" *ngIf="todo">
    <div class="container">
        <input class="checkbox" (change)="onToggle(todo)" type="checkbox"
        *ngIf='!todo.completed'
        >
        <input class="checkbox" (change)="onToggle(todo)" type="checkbox"
        *ngIf='todo.completed'
        checked
        >
        {{ todo.title }}
        <button (click)="onDelete(todo)" class="del">x</button>
    </div>
</div>