.container {
    display: block;
    position: relative;
    padding: 10px 0px 10px 20px;
    font-size: 22px;
}

.container:hover {
    background: #ddd;
}

.checkbox {
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.completed {
    text-decoration: line-through #000;
    background-color: #888;
    color: #fff;
}

.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    margin-right: 10px
  }