<div>
  <app-to-do-form (addTodo)="addTodo($event)"></app-to-do-form>
  <app-to-do-item
    *ngFor="let todo of todos"
    [todo]="todo"
    (deleteTodo)="deleteTodo($event)"
    >
  </app-to-do-item>
</div>