@media only screen and (min-width: 600px) {
    .app {
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 2px solid #000;
        background-color: #fff;
    }
}
