/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }

  .container {
    padding: 0 1rem;
  }

  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }

  .btn:hover {
    background: #666;
  }
  @media only screen and (min-width: 600px) {
    body {
      display:flex;
      justify-content: center;
      padding-top: 20px;
      background-image: url(./assets/img/background-image.jpeg);
      background-position: center;
    }
}